<section class="col-6 col-12-narrower">
    <h3>{{ .header | default "Get In Touch" }}</h3>
    <form method="POST" action="{{ .action }}">
        <div class="row gtr-50">
            <div class="col-6 col-12-mobilep">
                <input type="text" name="name" id="name" placeholder="Тип записки" />
            </div>
            <div class="col-6 col-12-mobilep">
                <input type="email" name="email" id="email" placeholder="Ваш Email" />
            </div>
            <div class="col-12">
                <textarea name="message" id="message" placeholder="Имена для поминовения" rows="5"></textarea>
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" class="button alt" value="Отправить" />
                </ul>
            </div>
        </div>
    </form>
</section>
